/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* ############### BEGIN CSS RESET ############### */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

p {
	line-height: 140%;
}

/* ############### END CSS RESET ############### */



/* ############### BEGIN HELPERS ############### */

.bg-red { background-color: red;}
.bg-blue { background-color: blue;}
.bg-green { background-color: green;}
.bg-purple { background-color: purple;}
.bg-orange { background-color: orange;}

.margin-top-50 { float: left; width: 100%; margin-top: 50px; }

/* ############### END HELPERS ############### */



/* ############### BEGIN GLOBAL STYLES ############### */

html, body {
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
}

/*@media all and (min-width: 1401px) and (max-width: 1920px) {
	html, body {
		background-color: purple !important;
	}
}

@media all and (min-width: 1201px) and (max-width: 1400px) {
	html, body {
		background-color: blue !important;
	}
}
@media all and (min-width: 993px) and (max-width: 1200px) {
	html, body {
		background-color: yellow !important;
	}
}
@media all and (min-width: 768px) and (max-width: 992px) {
	html, body {
		background-color: orange !important;
	}
}
@media all and (min-width: 380px) and (max-width: 767px) {
	html, body {
		background-color: white !important;
	}
}
@media all and (min-width: 0px) and (max-width: 379px) {
	html, body {
		background-color: pink !important;
	}
}
*/
.label-header {
	float: left;
	width: 100%;
	margin: 0px 0px 10px 0px;
	padding: 8px 0px 8px 0px;
	font-size: 18px;
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	background-color: #000;
}

input {
	float: left;
	width: 90%;
	height: 40px;
	padding-left: 10px;
	padding-right: 10px;
}

/* ############### END GLOBAL STYLES ############### */



/* ############### BEGIN FOOTER STYLES ############### */

.fsx-footer {
	float: left;
	width: 100%;
	margin-top: 3rem;
	padding: 1.1rem 1.2rem 2.1rem 1.2rem;
	background-color: #ddd;
	text-align: center;
}
@media all and (min-width: 380px) and (max-width: 767px) {
	.fsx-footer {

	}
}

@media all and (min-width: 0px) and (max-width: 379px) {
	.fsx-footer {

	}
}
.fsx-footer ul li {
	float: left;
	width: 100%;
	padding: .7rem 0rem .7rem 0rem;
}
.fsx-footer ul li a {
	font-size: 18px;
	color: black;
}
.fsx-footer ul li a:hover {
	font-size: 18px;
	color: rgba(0, 127, 91, 1);
	text-decoration: underline;
}

.fsx-footer-columns {
	float: left;
	width: 33.3%;
}
@media all and (min-width: 380px) and (max-width: 767px) {
	.fsx-footer-columns {
		float: left;
		width: 100%;
	}
}

@media all and (min-width: 0px) and (max-width: 379px) {
	.fsx-footer-columns {
		float: left;
		width: 100%;
	}
}

.fsx-footer-bottom {
	float: left;
	width: 100%;
	background-color: black;
	color: white;
}
.fsx-footer-bottom-left {
	float: left;
	width: 50%;
	padding: 1rem 0rem 1rem 1.2rem;
	line-height: 140%;
}
@media all and (min-width: 380px) and (max-width: 767px) {
	.fsx-footer-bottom-left {
		width: 100%;
	}
}
@media all and (min-width: 0px) and (max-width: 379px) {
	.fsx-footer-bottom-left {
		width: 100%;
	}
}

.fsx-footer-bottom-right {
	float: left;
	width: 50%;
	padding: 1rem 1.2rem 1rem 0rem;
	text-align: right;
}
@media all and (min-width: 380px) and (max-width: 767px) {
	.fsx-footer-bottom-right {
		display: none;
	}
}

@media all and (min-width: 0px) and (max-width: 379px) {
	.fsx-footer-bottom-right {
		display: none;
	}
}

.fsx-footer-bottom-right li {
	float: right;
	margin-right: 18px;
}
.fsx-footer-bottom-right li a {
	color: white;
}
.fsx-footer-bottom-right li a:hover {
	color: rgba(0, 127, 91, 1);
}

/* ############### END FOOTER STYLES ############### */



/* ############### BEGIN GRID STYLES ############### */

.fsx-row {

}

/* ############### END GRID STYLES ############### */



/* ############### BEGIN NAVIGATION ############### */

.nav-bar {
	float: left;
	width: 100%;
	padding: 0;
	background-color: #ccc;
}
@media all and (min-width: 380px) and (max-width: 767px) {
	.nav-bar {
		position: absolute;
		top: -330px;
		float: left;
		background-color: rgba(255, 255, 255, .95);
		transition: top 0.25s ease;
		border-bottom: 5px solid white;
	}
	.nav-bar.active {
		position: absolute;
		top: 78px;
		position: absolute;
		z-index: 100;
	}
}
@media all and (min-width: 0px) and (max-width: 379px) {
	.nav-bar {
		float: left;
		width: 100%;
		height: 0px;
		background-color: rgba(255, 255, 255, .95);
		border-bottom: 5px solid white;
	}
	.nav-bar.active {
		position: absolute;
		height: auto;
		z-index: 100;
	}
}
.nav-bar ul {
	float: right;
}
.nav-bar ul li {
	float: left;
}
@media all and (min-width: 380px) and (max-width: 767px) {
	.nav-bar ul li {
		float: left;
		width: 100%;
		text-align: center;
	}
}
@media all and (min-width: 0px) and (max-width: 379px) {
	.nav-bar ul li {
		float: left;
		width: 100%;
		text-align: center;
	}
}
.nav-bar ul li a {
	float: left;
	width: 100%;
	padding: 15px 15px 15px 15px;
	font-weight: 600;
	text-transform: uppercase;
	color: black;
}
.nav-bar ul li a.active {
	background-color: rgba(0, 157, 91, 1);
	color: white;
}
.nav-bar ul li a.active:hover {
	background-color: rgba(0, 157, 91, 1);
	color: white;
}
.nav-bar ul li a:hover {
	background-color: rgba(0, 127, 91, 1);
	color: white;
}

#nav-bar-toggle {
	position: relative;
	float: right;
	height: auto;
	display: none;
	margin: -37px 8px 0px 0px;
	padding: 8px;
	background-color: rgba(0, 127, 91, 1);
	color: white;
	z-index: 101;
}
#nav-bar-toggle-close {
	position: relative;
	float: right;
	height: auto;
	display: none;
	margin: -37px 8px 0px 0px;
	padding: 8px;
	background-color: rgba(0, 127, 91, 1);
	color: white;
	z-index: 101;
}
@media all and (min-width: 380px) and (max-width: 767px) {
	#nav-bar-toggle {
		display: block;
	}
	#nav-bar-toggle.inactive {
		display: none;
	}
	#nav-bar-toggle-close {
		display: none;
	}
	#nav-bar-toggle-close.active {
		display: block;
		background-color: red;
	}
}
@media all and (min-width: 0px) and (max-width: 379px) {
	#nav-bar-toggle {
		display: block;
	}
	#nav-bar-toggle.inactive {
		display: none;
		background-color: rgba(8, 61, 33, 1);
	}
	#nav-bar-toggle-close {
		display: none;
	}
	#nav-bar-toggle-close.active {
		display: block;
		background-color: red;
	}
}

.top-bar-spacer {
	position: relative;
	height: 40px;
	background-color: black;
	text-align: right;
	z-index: 102;
}
@media all and (min-width: 380px) and (max-width: 767px) {
	.top-bar-spacer {
		text-align: center
	}
}

@media all and (min-width: 0px) and (max-width: 379px) {
	.top-bar-spacer {
		text-align: center
	}
}
.top-bar-spacer img {
	float: left;
	margin-top: -4px;
	margin-left: 20px;
	max-width: 400px;
}
@media all and (min-width: 380px) and (max-width: 767px) {
	.top-bar-spacer img {
		float: none;
		margin-top: 0px;
		margin-left: 10px;
		max-width: 350px;
	}
}

@media all and (min-width: 0px) and (max-width: 379px) {
	.top-bar-spacer img {
		float: none;
		margin-top: 0px;
		margin-left: 10px;
		max-width: 300px;
	}
}
.top-bar-spacer i {
	color: white;
}
.top-bar-spacer li {
	float: left;
}

.top-bar-spacer .button-container {
	float: right;
	height: 40px;
	padding: 8px 0px 8px 0px;
}
@media all and (min-width: 380px) and (max-width: 767px) {
	.top-bar-spacer .button-container {
		float: left;
		width: 100%;
		background-color: rgba(0, 127, 91, 1);
	}
}
@media all and (min-width: 0px) and (max-width: 379px) {
	.top-bar-spacer .button-container {
		float: left;
		width: 100%;
		background-color: rgba(0, 127, 91, 1);
	}
}

.top-bar-spacer .button-container li{
	height: 25px;
	padding: 5px 15px 0px 15px;
	border-left: 1px solid #555;
}
.top-bar-spacer .button-container li:first-child{
	padding: 5px 0px 0px 0px;
	border-left: 0px;
}
@media all and (min-width: 380px) and (max-width: 767px) {
	.top-bar-spacer .button-container li:nth-child(2){
		border-left: 0px;
	}
}
@media all and (min-width: 0px) and (max-width: 379px) {
	.top-bar-spacer .button-container li:nth-child(2){
		border-left: 0px;
	}
}
@media all and (min-width: 380px) and (max-width: 767px) {
	.top-bar-spacer .button-container li:nth-child(2){
		border-left: 0px;
	}
}
@media all and (min-width: 0px) and (max-width: 379px) {
	.top-bar-spacer .button-container li:nth-child(2){
		border-left: 0px;
	}
}
	.top-bar-spacer .button-container li a:hover i {
		color: rgba(0, 127, 91, 1);
	}

.top-bar-title img {
	max-width: 360px;
	margin-left: 20px;
}

#responsive-menu {

}

#responsive-menu .top-bar-left {

}

#responsive-menu .top-bar-right {

}

#responsive-menu .top-bar-right .dropdown li a {
	height: 40px;
	font-size: 16px;
	font-weight: 600;
	color: rgba(110, 110, 76, 1);
	text-transform: uppercase;
}

#responsive-menu .top-bar-right .dropdown li a:hover {
	background-color: rgba(0, 127, 91, 1);
	color: white;
}

/* ############### END NAVIGATION ############### */



/* ############### BEGIN SEARCH ############### */

#search-trigger {

}

#search-trigger i.active {
	color: rgba(0, 127, 91, 1);
}
@media all and (min-width: 380px) and (max-width: 767px) {
	#search-trigger i.active {
		color: black;
	}
}
@media all and (min-width: 0px) and (max-width: 379px) {
	#search-trigger i.active {
		color: black;
	}
}

#search-container {
	position: absolute;
	top: 86px;
	right: -750px;
	width: 30%;
	padding: .8rem 1rem 0rem .6rem;
	background-color: black;
	transition: all .25s ease;
	min-width: 550px;
}
#search-container input {
	float: left;
	width: 93%;
	margin: 0 0 .75rem 0rem;
}
#search-container span {
	float: left;
	margin-left: 15px;
}
@media all and (min-width: 380px) and (max-width: 767px) {
	#search-container span {
		display: none;
	}
}
@media all and (min-width: 0px) and (max-width: 379px) {
	#search-container span {
		display: none;
	}
}
#search-container span i {
	font-size: 1.5rem;
	padding: 7px 0px 0px 0px;
}
#search-container span i:hover {
	color: red;
}
#search-container.open {
	right: 0px;
}
@media all and (min-width: 380px) and (max-width: 767px) {
	#search-container {
		right: -750px;
		float: left;
		width: 100%;
		padding: .8rem 1rem 0rem .6rem;
		min-width: 0;
	}
	#search-container input {
		float: left;
		width: 100%;
		margin: 0rem 0rem .7rem 0rem;
	}
}
@media all and (min-width: 0px) and (max-width: 379px) {
	#search-container {
		float: left;
		width: 100%;
		padding: .8rem 1rem .7rem .6rem;
		min-width: 0;
	}
	#search-container input {
		float: left;
		width: 100%;
		margin: 0rem 0rem 0rem 0rem;
	}
}

/* ############### END SEARCH ############### */



/* ############### BEGIN ADS ############### */
.ad {

}
@media all and (min-width: 0px) and (max-width: 379px) {
	.ad {
		display: none;
	}
}
@media all and (min-width: 380px) and (max-width: 767px) {
	.ad {
		display: none;
	}
}

.banner-ad-top {
	float: left;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.sidebar-ad {
	float: left;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* ############### END ADS ############### */



/* ############### BEGIN HOME PAGE SPECIFIC STYLES ############### */

.fsx-container {
	max-width: 1500px;
	margin-left: auto;
	margin-right: auto;
}

.fsx-container-left {
	float: left;
	width: calc(100% - 350px);
	padding-right: 30px;
}

@media all and (min-width: 768px) and (max-width: 992px) {
	.fsx-container-left {
		float: left;
		width: calc(100% - 350px);
		margin-top: 20px;
		padding-right: 30px;
	}
}
@media all and (min-width: 380px) and (max-width: 767px) {
	.fsx-container-left {
		float: left;
		width: 100%;
		margin-top: 20px;
		padding-right: 0;
	}
}
@media all and (min-width: 0px) and (max-width: 379px) {
	.fsx-container-left {
		float: left;
		width: 100%;
		padding-right: 0;
	}
}

.fsx-container-right {
	float: left;
	width: 350px;
	background-color: white;
}
@media all and (min-width: 768px) and (max-width: 992px) {
	.fsx-container-right {
		float: left;
		width: 350px;
		background-color: white;
	}
}

@media all and (min-width: 380px) and (max-width: 767px) {
	.fsx-container-right {
		float: left;
		width: 100%;
		padding: 0px 10px 0px 20px;
	}
}

@media all and (min-width: 0px) and (max-width: 379px) {
	.fsx-container-right {
		float: left;
		width: 100%;
		background-color: white;
	}
}

/* ############### END HOME PAGE SPECIFIC STYLES ############### */



/* ############### BEGIN 'JOIN NEWSLETTER' STYLES ############### */

.join-newsletter {
	float: left;
	width: 100%;
	margin-top: 10px;
	padding: 12px 0px 30px 0px;
	border-top: 8px solid rgba(0, 127, 91, 1);
}
.join-newsletter h3 {
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 15px;
	color: rgba(0, 127, 91, 1);
}
.join-newsletter label {
	float: left;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 8px;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
}

/* ############### END 'JOIN NEWSLETTER' STYLES ############### */



/* ############### BEGIN 'FOOD EXCHANGE' STYLES ############### */

.food-exchange {
	float: left;
	width: 100%;
	margin-top: 20px;
	padding: 12px 0px 30px 0px;
	border-top: 8px solid rgba(0, 127, 91, 1);
}
.food-exchange h3 {
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 15px;
	color: rgba(0, 127, 91, 1);
}
.food-exchange p {
	float: left;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 8px;
	font-family: arial;
	font-size: 17px;
	font-weight: 300;
}

/* ############### END 'FOOD EXCHANGE' STYLES ############### */



/* ############### BEGIN SIDEBAR VIDEO STYLES ############### */

.sidebar-video {
	float: left;
	width: 100%;
	margin: 20px 0px 30px 0px;
}

/* ############### END SIDEBAR VIDEO STYLES ############### */



/* ############### BEGIN SIDEBAR NEWSFEED STYLES ############### */

.newsfeed-widget {
	float: left;
	width: 100%;
	height: 360px;
	margin-top: 30px;
	margin-bottom: 30px;
}
@media all and (min-width: 380px) and (max-width: 767px) {
	.newsfeed-widget {
		height: 260px;
		margin-top: 30px;
		margin-bottom: 30px;
	}
}

@media all and (min-width: 0px) and (max-width: 379px) {
	.newsfeed-widget {
		height: 260px;
		margin-top: 30px;
		margin-bottom: 30px;
	}
}
.newsfeed-widget .newsfeed-header {
	float: left;
	width: 100%;
	margin-top: 20px;
	padding: 8px 0px 8px 0px;
	background-color: black;
	font-weight: 600;
	color: white;
	text-align: center;
	text-transform: uppercase;
}

.newsfeed-list-widget {
	float: left;
	width: 100%;
	height: auto;
	background-color: #ddd;
	overflow-x: scroll;
	overflow-y: hidden;
}
@media all and (min-width: 768px) and (max-width: 992px) {
	.newsfeed-list-widget {
		height: 220px;
	}
}
@media all and (min-width: 380px) and (max-width: 767px) {
	.newsfeed-list-widget {
		height: 220px;
	}
}
@media all and (min-width: 0px) and (max-width: 379px) {
	.newsfeed-list-widget {
		height: 220px;
	}
}

.newsfeed-list-widget li {
	float: left;
	width: 33.3%;
	padding: 20px;
	text-align: center;
}

.newsfeed-list-widget li img {
	width: 100%;
}

.newsfeed-list-widget li p {
	float: left;
	width: 100%;
	padding: .8rem .4rem 0rem .4rem;
	font-size: 19px;
	font-weight: 600;
	word-wrap: break-word;
}

/* ############### END SIDEBAR NEWSFEED STYLES ############### */



/* ############### BEGIN IMG TILE STYLES ############### */


/* ############### BEGIN MASONRY CSS ############### */

.grid {
	float: left;
	width: 100%;
}

.grid-item { width: 33.3%; border: 10px solid white;}
.grid-item--width2 { width: 100%; }
.grid-item img { width: 100%; }

.grid-item-meat {}

@media screen and (min-width: 0px) and (max-width: 640px) {
	.grid-item { width: 100%; border: 10px solid white;}
}

@media screen and (min-width: 641px) and (max-width: 992px) {
	.grid-item { width: 50%; border: 10px solid white;}
}

@media screen and (min-width: 993px) and (max-width: 1200px) {

}

@media screen and (min-width: 1201px) and (max-width: 1400px) {

}

@media screen and (min-width: 1401px) and (max-width: 1920px) {

}
/* ############### END MASONRY CSS ############### */


.img-tile-grid {
	position: relative;
	z-index: 99;
}
.img-tile-grid a:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0, 0.5);
	-moz-transition: background .3s linear;
	-webkit-transition: background .3s linear;
	-o-transition: background .3s linear;
	transition: background .3s linear;
}
.img-tile-grid a:hover:before {
	background: rgba(0,0,0, 0);
}

.img-tile-grid p {
	position: absolute;
	bottom: 30px;
	left: 40px;
	width: 80%;
	font-size: 35px;
	line-height: 130%;
	color: white;
	text-shadow: 2px 2px #000;
	z-index: 100;
}
@media all and (min-width: 380px) and (max-width: 767px) {
	.img-tile-grid p {
		font-size: 45px;
		line-height: 130%;
		text-align: center;
	}
}

@media all and (min-width: 0px) and (max-width: 379px) {
	.img-tile-grid p {
		font-size: 45px;
		line-height: 130%;
		text-align: center;
	}
}


.img-tile-with-label-small {
	position: relative;
	z-index: 99;
	float: left;
	width: 33.3%;
}
@media all and (min-width: 380px) and (max-width: 767px) {
	.img-tile-with-label-small {
		width: 100%;
	}
}
@media all and (min-width: 0px) and (max-width: 379px) {
	.img-tile-with-label-small {
		width: 100%;
	}
}

.img-tile-with-label-small img {
	width: 100%;
	border: 5px solid white;
}
@media all and (min-width: 380px) and (max-width: 767px) {
	.img-tile-with-label-small img {
		margin-top: 20px;
		border: 0px;
	}
}
@media all and (min-width: 0px) and (max-width: 379px) {
	.img-tile-with-label-small img {
		margin-top: 20px;
		border: 0px;
	}
}

.img-tile-with-label-small p {
	width: 100%;
	padding-top: 10px;
	font-size: 18px;
	line-height: 130%;
	color: black;
}
@media all and (min-width: 380px) and (max-width: 767px) {
	.img-tile-with-label-small p {
		padding: 10px 20px 10px 20px;
		background-color: black;
		color: white;
	}
}
@media all and (min-width: 0px) and (max-width: 379px) {
	.img-tile-with-label-small p {
		padding: 10px 20px 10px 20px;
		background-color: black;
		color: white;
	}
}

.img-tile-with-label-large {
	position: relative;
	z-index: 99;
}
.img-tile-with-label-large img {
	width: 100%;
}
.img-tile-with-label-large p {
	position: absolute;
	bottom: 50px;
	left: 40px;
	width: 65%;
	font-size: 38px;
	line-height: 130%;
	color: white;
	text-shadow: 2px 2px #000;
	z-index: 100;
}
@media all and (min-width: 768px) and (max-width: 992px) {
	.img-tile-with-label-large p {
		bottom: 40px;
		width: 85%;
		max-height: 180px;
		font-size: 30px;
		overflow-y: hidden;
	}
}
@media all and (min-width: 380px) and (max-width: 767px) {
	.img-tile-with-label-large p {
		bottom: 60px;
		left: 40px;
		max-height: 180px;
		width: 85%;
		font-size: 30px;
		overflow-y: hidden;
	}
}
@media all and (min-width: 0px) and (max-width: 379px) {
	.img-tile-with-label-large p {
		bottom: 50px;
		left: 40px;
		width: 65%;
		max-height: 180px;
		font-size: 18px;
		line-height: 130%;
		overflow-y: hidden;
	}
}

/* ############### END IMG TILE STYLES ############### */

