/*
  ___ __  __    _    ____ _____   _____ ___ _     _____ ____
 |_ _|  \/  |  / \  / ___| ____| |_   _|_ _| |   | ____/ ___|
  | || |\/| | / _ \| |  _|  _|     | |  | || |   |  _| \___ \
  | || |  | |/ ___ \ |_| | |___    | |  | || |___| |___ ___) |
 |___|_|  |_/_/   \_\____|_____|   |_| |___|_____|_____|____/

*/

.img-tile-split {
	float: left;
	width: 50%;
}
.img-tile-split:first-child img {
	border-right: 7px solid white;
}
.img-tile-split:last-child img {
	border-left: 7px solid white;
}
.img-tile-split img {
	float: left;
	width: 100%;
}

.grid-item {
	float: left;
}
.img-tile-grid a:before {
	content: "";
	display: block;
}
.img-tile-grid a:hover:before {
	background: rgba(0,0,0, 0);
}

.img-tile-grid p {
	float: left;
	width: 100%;
	padding-top: 10px;
	font-size: 25px;
	line-height: 130%;
	color: black;
	text-align: center;
	z-index: 100;
}
@media all and (min-width: 380px) and (max-width: 767px) {
	.img-tile-grid p {
		float: left;
		width: 100%;
		font-size: 35px;
		line-height: 130%;
		text-align: center;
	}
}

@media all and (min-width: 0px) and (max-width: 379px) {
	.img-tile-grid p {
		float: left;
		width: 100%;
		font-size: 35px;
		line-height: 130%;
		text-align: center;
	}
}

.img-tile-grid p a {
	color: black;
	text-decoration: none;
}
.img-tile-grid p a:hover {
	color: black;
	text-decoration: underline;
}

.img-tile-with-label-small {
	float: left;
	width: 33.333%;
}
@media all and (min-width: 380px) and (max-width: 767px) {
	.img-tile-with-label-small {
		width: 100%;
	}
}
@media all and (min-width: 0px) and (max-width: 379px) {
	.img-tile-with-label-small {
		width: 100%;
	}
}

.img-tile-with-label-small:nth-child(2) {
	border-left: 8px solid white;
	border-right: 15px solid white;
}
@media all and (min-width: 380px) and (max-width: 767px) {
	.img-tile-with-label-small:nth-child(2) {

	}
}
@media all and (min-width: 0px) and (max-width: 379px) {
	.img-tile-with-label-small:nth-child(2) {

	}
}

.img-tile-with-label-small:nth-child(3) {
	border-left: 15px solid white;
	border-right: 15px solid white;
}
@media all and (min-width: 380px) and (max-width: 767px) {
	.img-tile-with-label-small:nth-child(3) {

	}
}
@media all and (min-width: 0px) and (max-width: 379px) {
	.img-tile-with-label-small:nth-child(3) {

	}
}

.img-tile-with-label-small:nth-child(4) {
	border-left: 15px solid white;
	border-right: 8px solid white;
}
@media all and (min-width: 380px) and (max-width: 767px) {
	.img-tile-with-label-small:nth-child(4) {

	}
}
@media all and (min-width: 0px) and (max-width: 379px) {
	.img-tile-with-label-small:nth-child(4) {

	}
}

.img-tile-with-label-small img {
	width: 100%;
}
@media all and (min-width: 380px) and (max-width: 767px) {
	.img-tile-with-label-small img {
		margin-top: 1.1rem;
		border: 0px;
	}
}
@media all and (min-width: 0px) and (max-width: 379px) {
	.img-tile-with-label-small img {
		margin-top: 1.1rem;
		border: 0px;
	}
}

.img-tile-with-label-small p {
	width: 100%;
	padding: .8rem 1rem .8rem 1rem;
	font-size: 18px;
	line-height: 130%;
	color: black;
	text-align: center;
}
@media all and (min-width: 380px) and (max-width: 767px) {
	.img-tile-with-label-small p {
		padding: .8rem 1.1rem .8rem 1.1rem;
		background-color: black;
		color: white;
	}
}
@media all and (min-width: 0px) and (max-width: 379px) {
	.img-tile-with-label-small p {
		padding: .8rem 1.1rem .8rem 0rem;
		background-color: black;
		color: white;
	}
}
.img-tile-with-label-small p a {
	color: black;
	text-decoration: none;
}
@media all and (min-width: 380px) and (max-width: 767px) {
	.img-tile-with-label-small p a {
		background-color: black;
		color: white;
	}
}
@media all and (min-width: 0px) and (max-width: 379px) {
	.img-tile-with-label-small p a {
		background-color: black;
		color: white;
	}
}
.img-tile-with-label-small p a:hover {
	color: black;
	text-decoration: underline;
}
@media all and (min-width: 380px) and (max-width: 767px) {
	.img-tile-with-label-small p a:hover {
		background-color: black;
		color: white;
		text-decoration: underline;
	}
}
@media all and (min-width: 0px) and (max-width: 379px) {
	.img-tile-with-label-small p a:hover {
		background-color: black;
		color: white;
		text-decoration: underline;
	}
}

.img-tile-with-label-large {
	position: relative;
	z-index: 99;
	border: 8px solid white;
	margin-bottom: .5rem;
}
.img-tile-with-label-large img {
	width: 100%;
}
.img-tile-with-label-large p {
	position: absolute;
	bottom: 50px;
	left: 40px;
	width: 65%;
	font-family: 'Suranna', serif;
	font-size: 44px;
	line-height: 110%;
	color: white;
	text-shadow: 2px 2px #000;
	z-index: 100;
}
@media all and (min-width: 768px) and (max-width: 992px) {
	.img-tile-with-label-large p {
		position: static;
		width: 85%;
		max-height: 180px;
		font-size: 2rem;
		text-shadow: none;
		overflow-y: hidden;
	}
}
@media all and (min-width: 380px) and (max-width: 767px) {
	.img-tile-with-label-large p {
		position: static;
		width: 90%;
		max-height: 180px;
		font-size: 2rem;
		text-shadow: none;
		overflow-y: hidden;
	}
}
@media all and (min-width: 0px) and (max-width: 379px) {
	.img-tile-with-label-large p {
		position: static;
		width: 85%;
		max-height: 180px;
		font-size: 1.1rem;
		text-shadow: none;
		line-height: 130%;
		overflow-y: hidden;
	}
}

.img-tile-with-label-large p a:hover {
	color: white;
	text-decoration: underline;
}

.img-tile-with-label-large p a {
	float: left;
	color: white;
	text-decoration: none;
}
@media all and (min-width: 768px) and (max-width: 992px) {
	.img-tile-with-label-large p a {
		margin-top: .5rem;
		margin-bottom: .5rem;
		color: black;
	}
	.img-tile-with-label-large p a:hover {
		color: black;
		text-decoration: underline;
	}
}
@media all and (min-width: 380px) and (max-width: 767px) {
	.img-tile-with-label-large p a {
		margin-top: .5rem;
		margin-bottom: .5rem;
		color: black;
	}
	.img-tile-with-label-large p a:hover {
		color: black;
		text-decoration: underline;
	}
}
@media all and (min-width: 0px) and (max-width: 379px) {
	.img-tile-with-label-large p a {
		margin-top: .5rem;
		margin-bottom: .5rem;
		color: black;
	}
	.img-tile-with-label-large p a:hover {
		color: black;
		text-decoration: underline;
	}
}

/* ############### END IMG TILE STYLES ############### */
