/*
  _   _    ___     _____ ____    _  _____ ___ ___  _   _
 | \ | |  / \ \   / /_ _/ ___|  / \|_   _|_ _/ _ \| \ | |
 |  \| | / _ \ \ / / | | |  _  / _ \ | |  | | | | |  \| |
 | |\  |/ ___ \ V /  | | |_| |/ ___ \| |  | | |_| | |\  |
 |_| \_/_/   \_\_/  |___\____/_/   \_\_| |___\___/|_| \_|

*/

.nav-bar {
	position: relative;
	float: left;
	width: 100%;
	padding: 0;
	background-color: rgba(255, 255, 255, 1);
	z-index: 100;
}
@media all and (min-width: 380px) and (max-width: 767px) {
	.nav-bar {
		position: fixed;
		top: -330px;
		float: left;
		background-color: rgba(255, 255, 255, .95);
		transition: top 0.25s ease;
		border-bottom: 5px solid white;
	}
	.nav-bar.active {
		position: absolute;
		top: 105px;
		z-index: 100;
	}
}
@media all and (min-width: 0px) and (max-width: 379px) {
	.nav-bar {
		position: fixed;
		float: left;
		width: 100%;
		height: 0px;
		background-color: rgba(179, 151, 110, 1);
		border-bottom: 5px solid white;
	}
	.nav-bar.active {
		position: absolute;
		height: auto;
		z-index: 100;
	}
}

.nav-bar ul {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}
@media all and (min-width: 768px) and (max-width: 992px) {

}

@media all and (min-width: 380px) and (max-width: 767px) {
	.nav-bar ul {
		float: left;
		width: 100%;
	}
}

@media all and (min-width: 0px) and (max-width: 379px) {
	.nav-bar ul {
		float: left;
		width: 100%;
	}
}

.nav-bar ul li {
	float: left;
}
@media all and (min-width: 380px) and (max-width: 767px) {
	.nav-bar ul li {
		float: left;
		width: 100%;
		text-align: center;
	}
}
@media all and (min-width: 0px) and (max-width: 379px) {
	.nav-bar ul li {
		float: left;
		width: 100%;
		text-align: center;
	}
}

@media all and (min-width: 380px) and (max-width: 767px) {
	.nav-bar ul li:first-child {
		float: left;
		margin-top: 10px;
	}
}
@media all and (min-width: 0px) and (max-width: 379px) {
	.nav-bar ul li:first-child {
		float: left;
		margin-top: 10px;
	}
}




.nav-bar ul li a {
	float: left;
	width: 100%;
	padding: 1rem;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
	color: rgba(128, 114, 123, 1);
}

.nav-bar ul li a.active {
	color: rgba(0, 127, 91, 1);
}
.nav-bar ul li a.active:hover {
	color: rgba(0, 127, 91, 1);
	cursor: default;
}
.nav-bar ul li a:hover {
	color: rgba(0, 0, 0, 1);
}
@media all and (min-width: 768px) and (max-width: 992px) {
	#nav-bar p.tagline {
		display: none;
	}
}
@media all and (min-width: 380px) and (max-width: 767px) {
	#nav-bar p.tagline {
		display: none;
	}
}
@media all and (min-width: 0px) and (max-width: 379px) {
	#nav-bar p.tagline {
		display: none;
	}
}

.nav-divider {
	padding-top: 15px;
}
@media all and (min-width: 380px) and (max-width: 767px) {
	.nav-divider {
		display: none;
	}
}
@media all and (min-width: 0px) and (max-width: 379px) {
	.nav-divider {
		display: none;
	}
}

#nav-bar-toggle {
	position: relative;
	float: right;
	height: auto;
	display: none;
	margin: -2.1rem .5rem 0 0;
	padding: .5rem .5rem .5rem .5rem;
	background-color: rgba(0, 127, 91, 1);
	color: white;
	z-index: 101;
}
@media all and (min-width: 380px) and (max-width: 767px) {
	#nav-bar-toggle {
		margin: -2.1rem .5rem 0 0;
		padding: .5rem .5rem .5rem .5rem;
	}
}
@media all and (min-width: 0px) and (max-width: 379px) {
	#nav-bar-toggle {
		margin: -2.1rem .5rem 0 0;
		padding: .5rem .5rem .5rem .5rem;
	}
}
#nav-bar-toggle-close {
	position: relative;
	float: right;
	height: auto;
	margin: -2.1rem .5rem 0 0;
	padding: .5rem .5rem .5rem .5rem;
	background-color: rgba(0, 127, 91, 1);
	color: white;
	display: none;
	z-index: 101;
}
@media all and (min-width: 380px) and (max-width: 767px) {
	#nav-bar-toggle {
		display: block;
	}
	#nav-bar-toggle.inactive {
		display: none;
	}
	#nav-bar-toggle-close {
		display: none;
	}
	#nav-bar-toggle-close.active {
		display: block;
		background-color: red;
	}
}
@media all and (min-width: 0px) and (max-width: 379px) {
	#nav-bar-toggle {
		display: block;
	}
	#nav-bar-toggle.inactive {
		display: none;
		background-color: rgba(8, 61, 33, 1);
	}
	#nav-bar-toggle-close {
		display: none;
	}
	#nav-bar-toggle-close.active {
		display: block;
		background-color: red;
	}
}

.top-bar-spacer {
	position: relative;
	z-index: 1000;
	width: 100%;
	height: 60px;
	background-color: rgba(188, 184, 188, 1);
	text-align: right;
	z-index: 102;
	border-top: 12px solid black;
}
@media all and (min-width: 380px) and (max-width: 767px) {
	.top-bar-spacer {
		position: fixed;
		text-align: center;
		background-color: rgba(0, 0, 0, 1);
		border-top: 0px solid black;
	}
}
@media all and (min-width: 0px) and (max-width: 379px) {
	.top-bar-spacer {
		position: fixed;
		text-align: center;
		background-color: rgba(0, 0, 0, 1);
		border-top: 0px solid black;
	}
}

.top-bar-spacer img {
	float: left;
	margin-top: -5px;
	margin-left: 20px;
	max-width: 470px;
}
@media all and (min-width: 380px) and (max-width: 767px) {
	.top-bar-spacer img {
		float: none;
		margin-top: 0px;
		margin-left: 10px;
		max-width: 350px;
	}
}
@media all and (min-width: 0px) and (max-width: 379px) {
	.top-bar-spacer img {
		float: none;
		margin-top: 0px;
		margin-left: 10px;
		max-width: 300px;
	}
}

.top-bar-spacer i {
	color: white;
}
.top-bar-spacer li {
	float: left;
}

.top-bar-spacer .btn-container {
	float: right;
	height: 40px;
	margin-top: 3px;
	margin-right: 10px;
	padding: 8px 0px 8px 0px;
}
@media all and (min-width: 380px) and (max-width: 767px) {
	.top-bar-spacer .btn-container {
		float: left;
		width: 100%;
		height: 35px;
		padding: 4px 0 0 0;
		background-color: rgba(0, 127, 91, 1);
	}
}
@media all and (min-width: 0px) and (max-width: 379px) {
	.top-bar-spacer .btn-container {
		float: left;
		width: 100%;
		height: 35px;
		padding: 4px 0 0 0;
		background-color: rgba(0, 127, 91, 1);
	}
}

.top-bar-spacer .btn-container li{
	height: 25px;
	padding: 5px 15px 0px 15px;
	border-left: 1px solid #555;
}
.top-bar-spacer .btn-container li:first-child{
	padding: 5px 0px 0px 0px;
	border-left: 0px;
}
@media all and (min-width: 380px) and (max-width: 767px) {
	.top-bar-spacer .btn-container li:nth-child(2){
		border-left: 0px;
	}
}
@media all and (min-width: 0px) and (max-width: 379px) {
	.top-bar-spacer .btn-container li:nth-child(2){
		border-left: 0px;
	}
}
@media all and (min-width: 380px) and (max-width: 767px) {
	.top-bar-spacer .btn-container li:nth-child(2){
		border-left: 0px;
	}
}
@media all and (min-width: 0px) and (max-width: 379px) {
	.top-bar-spacer .btn-container li:nth-child(2){
		border-left: 0px;
	}
}

.top-bar-spacer .btn-container li a i {
	color: rgba(0, 0, 0, 1);
}

.top-bar-spacer .btn-container li a:hover i {
	color: rgba(255, 255, 255, 1);
}

.top-bar-title img {
	max-width: 360px;
	margin-left: 20px;
}

#responsive-menu {

}

#responsive-menu .top-bar-left {

}

#responsive-menu .top-bar-right {

}

#responsive-menu .top-bar-right .dropdown li a {
	height: 40px;
	font-size: 16px;
	font-weight: 600;
	color: rgba(110, 110, 76, 1);
	text-transform: uppercase;
}

#responsive-menu .top-bar-right .dropdown li a:hover {
	background-color: rgba(0, 127, 91, 1);
	color: white;
}

/* ############### END NAVIGATION ############### */
