/*
  ____  ____   ___  _____ ___ _     _____ ____
 |  _ \|  _ \ / _ \|  ___|_ _| |   | ____/ ___|
 | |_) | |_) | | | | |_   | || |   |  _| \___ \
 |  __/|  _ <| |_| |  _|  | || |___| |___ ___) |
 |_|   |_| \_\\___/|_|   |___|_____|_____|____/

*/

.profiles-detail-content {
	float: left;
	width: 100%;
	margin-bottom: 4rem;
}
@media all and (min-width: 1401px) and (max-width: 1920px) {
	.profiles-detail-content {
		padding: 0rem 2rem 0rem 2rem;
	}
}
@media all and (min-width: 1201px) and (max-width: 1400px) {
	.profiles-detail-content {
		padding: 0rem 2rem 0rem 2rem;
	}
}
@media all and (min-width: 993px) and (max-width: 1200px) {
	.profiles-detail-content {
		padding: 0rem 2rem 0rem 2rem;
	}
}
@media all and (min-width: 768px) and (max-width: 992px) {
	.profiles-detail-content {
		padding: 0rem 2rem 0rem 2rem;
	}
}
@media all and (min-width: 380px) and (max-width: 767px) {
	.profiles-detail-content {
		padding: 0rem 2rem 0rem 2rem;
	}
}
@media all and (min-width: 0px) and (max-width: 379px) {
	.profiles-detail-content {
		padding: 0rem 2rem 0rem 2rem;
	}
}

.profiles-detail-content h2 {
	float: left;
	width: 100%;
	margin-top: .5rem;
	font-size: 1.8rem;
	line-height: 140%;
	text-transform: uppercase;
}
@media all and (min-width: 1201px) and (max-width: 1400px) {
	.profiles-detail-content h2 {
		margin-top: 0rem;
	}
}
@media all and (min-width: 993px) and (max-width: 1200px) {
	.profiles-detail-content h2 {
		margin-top: 0rem;
	}
}
@media all and (min-width: 768px) and (max-width: 992px) {
	.profiles-detail-content h2 {
		margin-top: 1rem;
	}
}
@media all and (min-width: 380px) and (max-width: 767px) {
	.profiles-detail-content h2 {
		margin-top: 2rem;
	}
}
@media all and (min-width: 0px) and (max-width: 379px) {
	.profiles-detail-content h2 {
		margin-top: 2rem;
	}
}

.profiles-detail-content h3 {
	float: left;
	width: 100%;
	font-size: 1.2rem;
	line-height: 140%;
	font-style: italic;
	font-weight: 600;
	color: rgba(0, 127, 91, 1);;
}
@media all and (min-width: 1201px) and (max-width: 1400px) {
	.profiles-detail-content h2 {
		margin-top: 0rem;
	}
}
@media all and (min-width: 993px) and (max-width: 1200px) {
	.profiles-detail-content h2 {
		margin-top: 0rem;
	}
}
@media all and (min-width: 768px) and (max-width: 992px) {
	.profiles-detail-content h2 {
		margin-top: 1rem;
	}
}
@media all and (min-width: 380px) and (max-width: 767px) {
	.profiles-detail-content h2 {
		margin-top: 2rem;
	}
}
@media all and (min-width: 0px) and (max-width: 379px) {
	.profiles-detail-content h2 {
		margin-top: 2rem;
	}
}

.profiles-detail-content p {
	float: left;
	width: 100%;
	margin-top: 1.5rem;
}
